EXPO_PUBLIC_API_URL=https://api.nesto.com/v1
EXPO_PUBLIC_WEB_CLIENT_ID=529245356039-6khgjrls4fcktccjpjdqo2mfqrfihdt6.apps.googleusercontent.com
EXPO_PUBLIC_IOS_CLIENT_ID=529245356039-lhka0r2aokm9ck4iqml986amn6sjjpo6.apps.googleusercontent.com
EXPO_PUBLIC_ANDROID_CLIENT_ID=529245356039-k49ptlbcddj3ka6murqb5038m9mf4hap.apps.googleusercontent.com
EXPO_PRIVATE_MOCK=true